.slider-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.slider-container {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.slider-item img {
  width: 70%;
  height: 60%;
  margin: auto;
}

.close-button {
  position: absolute;
  top: 0;
  right: 100px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile .slider-container {
  width: 100%;
  height: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  cursor: pointer;
  transition: border 0.3s;
}

.thumbnail img {
  width: 98%;
  height: 50%;
}

.thumbnail.active {
  border: 2px solid #AB0C08F7; /* Highlight active thumbnail */
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev img,
.slick-next img {
  width: 100%;
  height: 100%;
}

.slick-prev.disabled,
.slick-next.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 12px;
}

@media (max-width: 768px) {
  .slider-overlay {
    position: static;
    background: transparent;
    display: block;
  }

  .slider-container {
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .slider-item img {
    border-radius: 0;
  }

  .thumbnail-container {
    margin-top: 10px; /* Adjust margin for mobile */
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }
}
